.Map{
  background: grey;
}
.on{
  background: black;
  color: white;
}

.off{
  background: grey;
}

.room{
  /* padding: 8px; */
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 12px;
}

.row{
  display: flex;
  justify-content: center;
  padding: 0px;
}
.arrows{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  margin-left: calc(50% - 20px);
}
.leftright{
  display: flex;
  flex-direction: row;
  justify-content: center;
}